* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins-regular;
}

@font-face {
    font-family: poppins-semiBold;
    src: url(fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(fonts/Poppins-Regular.ttf);
}

:root {

/* Primary */
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/* Neutral */
--Grey500: hsl(234, 12%, 34%);
/* border: 2px solid red; */
--Grey400: hsl(212, 6%, 44%);
--White: hsl(0, 0%, 100%);
}


body {
    /* height: 100dvh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 60px 30px;
}

div.info-container {
    border: 2px solid red;
    width: 30rem;
    max-width: 100%;
    /* height: 300px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 5px; */
}


span.taglaine {
    font-family: poppins-light;
    font-size: 1.5rem;
    color: var(--Grey400);

    /*fontsize:
        1.5rem - 375px screen size
         - 320px screen size
    */
}

span.subtitle {
    font-family: poppins-semiBold;
    font-size: 1.5rem;
    color: var(--Grey500);
    
    
    /*fontsize:
        1.5rem - 375px screen size
         - 320px screen size
    */
}

span.description {
    font-family: poppins-regular;
    color: var(--Grey400);
    font-size: 0.9rem;
    padding: 1.2rem 5px 0;
    /* border: 2px solid blue; */

    /*fontsize:
    0.9rem - 375px screen size
     - 320px screen size
    */
}


main.boxes-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    max-width: 100%;
}

.box {
    /* width: 14rem; */
    width: 100%;
    height: 18rem;
    border-radius: 0.5rem;
    box-shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;

}

.box-title {
    color: var(--Grey500);
    font-family: poppins-semiBold;
    font-size: 1.5rem;

    /*fontsize:
        1.5rem - 375px screen size
        - 320px screen size
    */
}


span.box-description {
    color: var(--Grey400);
    /* border: 2px solid red; */
    padding-bottom: 1rem;
    font-size: 1rem;

    /*fontsize:
    1rem - 375px screen size
    - 320px screen size
    */
}

.box-img {
    width: 5rem;
    align-self: flex-end;
}


.box.supervisor {
    border-top: 7px solid var(--Cyan);
}

.box.team-builder {
    border-top: 7px solid var(--Red);
}

.box.karma {
    border-top: 7px solid var(--Orange);
}

.box.calculator {
    border-top: 7px solid var(--Blue);
}