* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins-regular;
}

@font-face {
    font-family: poppins-semiBold;
    src: url(fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(fonts/Poppins-Regular.ttf);
}

:root {

/* Primary */
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/* Neutral */
--Grey500: hsl(234, 12%, 34%);
/* border: 2px solid red; */
--Grey400: hsl(212, 6%, 44%);
--White: hsl(0, 0%, 100%);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 40px 30px;
}

div.info-container {
    width: 32rem;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


span.taglaine {
    font-family: poppins-light;
    font-size: clamp(1rem, 6vw, 2rem);
    color: var(--Grey400);
    
}

span.subtitle {
    font-family: poppins-semiBold;
    font-size: clamp(1rem, 6vw, 2rem);
    color: var(--Grey500);
}

span.description {
    font-family: poppins-regular;
    color: var(--Grey400);
    font-size: clamp(10px, 3.9vw, 1rem);
    padding-top: 10px;
}


main.boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
    max-width: 100%;
}

.box {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 2rem;
}

.box-title {
    color: var(--Grey500);
    font-family: poppins-semiBold;
    font-size: clamp(1.5rem, 6.5vw, 1.2rem);
}


span.box-description {
    color: var(--Grey400);
    font-size: clamp(0.9rem, 3.8vw, 1.1rem);
}

.box-img {
    width: 5rem;
    align-self: flex-end;
}


.box.supervisor {
    border-top: 7px solid var(--Cyan);
}

.box.team-builder {
    border-top: 7px solid var(--Red);
}

.box.karma {
    border-top: 7px solid var(--Orange);
}

.box.calculator {
    border-top: 7px solid var(--Blue);
}


@media (min-width: 800px) {
    main.boxes-container {
        width: 95%;
        height: 30rem;
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(15, 1fr);
        gap: 25px;
    }

    .box {
        margin-bottom: 0px;
        gap: 0;
    }


    .box.supervisor {
        grid-column: 1 / 6;
        grid-row: 3 / 15;
    }
    
    .box.team-builder {
        grid-column: 6 / 11;
        grid-row: 3 / 8;
    }

    .box.karma {
        grid-column: 6 / 11;
        grid-row: 9 / 16;
    }

    .box.calculator {
        grid-column: 11 / 16;
        grid-row: 3 / 15;
    }
}

